{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}

<div class="layout-medium">

	<div class="sig-content">
        <h1 class="page-header col-blue header-underline">Donate</h1>
        
		<div class="section">
		<p>
		Signum News provides free access to news data and tools
		that help people stay informed in an increasingly noisy world.
		We heavily benefit from public, free and open source information, but our 
		data and platforms are also free to use. 
		</p>

		<p>
		At the same time, maintaining a global content database, integrated data 
		pipelines and the Signum platform requires hardware infrastructure, data 
		processing, ongoing development and maintenance. Servers, data pipelines 
		and engineering all create real operational costs.
		</p>
		
		<p>
		Even though we plan a commercial business version in the future, 
		there are no paywalls for the basic functionalities and the goal is to keep 
		information open and accessible to everyone.
		</p>
		
		<p>
		If you find value in this platform and want to support its continued 
		development, you can make a voluntary donation. Contributions help cover 
		infrastructure, development and maintenance. 
		</p>
		
		<p>
		Apart from voluntary donations, organizations and individuals can also support 
		the project by becoming a sponsor. Sponsors will have their logo displayed 
		on the start page as a way to show their support. 
		If you are interested in sponsoring rather than donating, <a href="{% url 'contact-page' %}">
		<span class="url-underline">contact us</span></a> for further information.
		</p>
		
		<p>
		Thank you for helping keep free information alive.
		</p>

		</div>

	

		<div class="three-column-grid">
		
		<div class="column-card">

			<h4>Buy us a coffee!</h4>

			<div class="btc-qrcode-container" style="margin-top: 10px;">
				<img src="{% static 'main_app/images/buy-me-a-coffee-qr-code.png' %}">
			</div>
		</div>
		
		<div class="column-card">

			<h4>Bitcoin (BTC)</h4>
			
			<div class="btc-qrcode-container" style="margin-top: 10px;">
				<img src="{% static 'main_app/media/BitcoinQRCode.webp' %}">
			</div>

		</div>
		
		<div class="column-card">

			<h4>Bitcoin Lightning</h4>

			<div class="btc-qrcode-container" style="margin-top: 10px;">
				<img src="{% static 'main_app/media/BitcoinLightningQRCode.webp' %}">
			</div>
		</div>

		</div>
		
	</div>
</div>
{% endblock content %}