{% extends "main_app/base.html" %}
{% block content %}
{% load static %}

<div class="layout-medium">

	<div class="sig-content">

	<h1 class="product-title col-blue bold">What you get with Signum News</h1>
	<p class="product-subtitle">
		Filter the signal from the noise
	</p>

	<div class="product-features-grid">

		<!-- LEFT COLUMN -->
		<div class="product-column">

			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-newsaggregated.png' %}">
				</div>
				<div class="feature-content">
					<h3>Worldwide News Aggregation</h3>
					<p>
						Access and explore the world's largest database with news, analysis and other content.
					</p>
				</div>
			</div>


			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-customalgo.png' %}">
				</div>
				<div class="feature-content">
					<h3>Custom Feeds & Algorithms</h3>
					<p>
						Create your personal feeds and customize your own filter and algorithm.
					</p>
				</div>
			</div>
			

			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-searcharchive.png' %}">
				</div>
				<div class="feature-content">
					<h3>Search Articles in Archive</h3>
					<p>
						Search articles across our continuously growing news archive.
					</p>
				</div>
			</div>


			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-datadownload.png' %}">
				</div>
				<div class="feature-content">
					<h3>Data Export</h3>
					<p>
						Export news data for research, analysis or personal workflows.
					</p>
				</div>
			</div>

		</div>

		<!-- RIGHT COLUMN -->
		<div class="product-column">

			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-categoryfilter.png' %}">
				</div>
				<div class="feature-content">
					<h3>Category-Based Filtering</h3>
					<p>
					Use 15+ categories, 500+ tags and 5,000+ sources to explore and filter
					a wide range of topics.
					</p>
				</div>
			</div>


			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-bookmark.png' %}">
				</div>
				<div class="feature-content">
					<h3>Bookmark Lists</h3>
					<p>
					Create your individual bookmark lists for special research topics 
					and save articles for later.
					</p>
				</div>
			</div>


			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-stats.png' %}">
				</div>
				<div class="feature-content">
					<h3>Article & Source Statistics</h3>
					<p>
						Access detailed statistics on articles, sources and aggregated user signals.
					</p>
				</div>
			</div>


			<div class="product-feature-box">
				<div class="feature-icon">
					<img class="product-icon" src="{% static 'main_app/media/product-page-apiplug.png' %}">
				</div>
				<div class="feature-content">
					<h3>Public API Access</h3>
					<p>
						Integrate news data directly into your own software using our API.
					</p>
				</div>
			</div>

		</div>

	</div>

	<div class="product-button-container">
    
    <a href="{% url 'register-page' %}">
        <button class="btn btn-outline-info" type="button">
            Sign up
        </button>
    </a>
	</div>

	<div class="product-footer-note">
		
		<p>
		Hey there! My name is Chris, I am a 37 years old programmer and I am 
		running one of the world's largest databases with news articles, analysis, 
		blog posts and other content. Every night and day my servers crawl thousands of 
		sources, transform raw data into structured high quality datasets and update
		my databases and apps.
		</p>
		
		<p>
		Signum News provides a graphical user interface to interact with my database 
		in various ways, such as to search, explore, filter or analyze articles or to 
		create and manage personal feeds and custom briefings. One of 
		the central themes of Signum is to filter the signal from the noise 
		and help users focus on relevant, high-quality information and knowledge.
		</p>

		<p>
		Signum News offers a wide range of tools to explore and interact with information. These tools can be used 
		in multiple ways and are build for both individual and private users, but also for
		businesses and organizations. You can
		</p>

		<p>
		<ul>
			<li>
			filter news across more than 15 categories including politics in 
			different geographic regions, economic topics, tech or culture.
			</li>
			<li>
			customize your own briefing and feeds based on categories, keywords, 
			sources or quantitative metrics.
			</li>
			<li>
			bookmark articles and organize your bookmarks through
			bookmark lists for specific research topics.
			</li>
			<li>
			retrieve detailed statistics on articles, sources and user signals, 
			including user ratings, source ratings, algorithm ratings or clicks 
			count.
			</li>
			<li>
			search for articles in our archive based on keywords and other search 
			parameters.
			</li>
			<li>
			export your data as csv or JSON files for your research or personal 
			workflows.
			</li>
			<li>
			access our API for a deeper integration of news data.
			</li>
		</ul>
		</p>

	</div>

	<h1 class="product-title col-blue bold">Signum News is what you make of it</h1>
	<p class="product-subtitle">
		A software built for private users, businesses and other organizations
	</p>

	<div class="product-user-features-grid">

		<!-- LEFT COLUMN -->
		<div class="product-user-column">

			<div class="product-user-feature-box">
				<div class="product-users">
				<img src="{% static 'main_app/images/teamsales.png' %}">
				</div>

				<div>
					<h3>Private Users</h3>
					
					<li>
					Stay informed about the topics and events that matter most to you.
					</li>
					<li>
					Create your personal information streams and feeds according to your interests, preferences 
					and needs.
					</li>
					<li>
					Track developments related to your hobbies, investments, profession or community.
					</li>
					<li>
					Explore emerging trends, discover new perspectives and dive deeper into topics of interest.
					</li>
					<li>
					Follow long-term trends and stories as they evolve over time.
					</li>
					<li>
					Reduce information overload by receiving a curated and personalized information stream.
					</li>
					<li>
					Save articles for later reading and organize them in bookmark lists.
					</li>
					<li>
					Gain insights into news statistics, quality indicators and community engagement.
					</li>
					
				</div>
			</div>


		</div>

		<!-- RIGHT COLUMN -->
		<div class="product-user-column">			

			<div class="product-user-feature-box">
				<div class="product-users">
				<img src="{% static 'main_app/images/supportfemale.png' %}">
				</div>
				<div>
					<h3>Businesses & Organizations</h3>
					
					<li>
					Monitor your macro- and micro-environment to identify emerging opportunities, 
					risks and market developments.
					</li>
					<li>
					Create customized information streams tailored to teams, departments, projects or 
					clients.
					</li>
					<li>
					Leverage Signum News as a flexible intelligence platform for research, monitoring and 
					decision making.
					</li>
					<li>
					Monitor media coverage of brands, products and public perception.
					</li>
					<li>
					Track companies, sectors, commodities and geopolitical developments.
					</li>
					<li>
					Monitor industries and emerging technologies.
					</li>
					<li>
					Analyze news data using categories, keywords, tags, engagement metrics and quality 
					indicators.
					</li>
					<li>
					Track competitors, industries, regulatory changes and stakeholder sentiment in real time.
					</li>
					<li>
					Integrate news data into your existing workflows, dashboards, applications or analytical 
					tools through our public API.
					</li>
				</div>
			</div>

		</div>

	</div>





	<div class="section-read-more">
		<h3 class="underline-spacing mb-4">Read more</h3>

		<ul>
		<li><a href="{% url 'guidelines-page' %}"><span class="url">User Guidelines</span></a></li>
		<li><a href="{% url 'faq-page' %}"><span class="url">FAQ</span></a></li>
		<li><a href="{% url 'public-api-docs-page' %}"><span class="url">API Documentation</span></a></li>
		<li><a href="{% url 'about-page' %}"><span class="url">About Signum</span></a></li>
		<li><a href="{% url 'tou-page' %}"><span class="url">Terms of Use</span></a></li>	
		<li><a href="{% url 'privacy-page' %}"><span class="url">Privacy</span></a></li>	
		</ul>

		</div>
</div>
</div>
	
{% endblock %}