{% extends "main_app/base.html" %}
{% block content %}
{% load static %}

<div class="layout-medium">

	<div class="sig-content">
		
	<h1 class="page-header col-blue header-underline">Release notes</h1>
	
	<div class="row">
		{% for post in release_notes %}
			<article class="release-notes-article">
				<div>
					<h2 class="release-notes-title"><a href="{% url 'release-notes-detail-page' post.slug %}">
					{{ post.title }}</a>
					</h2>
					
					<div class="release-notes-date">
					<small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
					</div>
					
					<div class="release-notes-snippet">
					{{ post.snippet | safe }}
					</div>
					
					<div class="release-notes-read-more">
					<a class="url-hover" href="{% url 'release-notes-detail-page' post.slug %}">
					<small>Read More</small>
					</a>
					</div>
				</div>
			</article>			
		{% endfor %}
	</div>

	</div>

</div>
	
{% endblock %}